{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb"],
  "plugins": ["react", "jsx-a11y", "import"],
  "globals": {
    "graphql": true,
    "document": false
  },
  "settings": {
    "import/core-modules": ["components", "types"]
  }
}
