{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "globals": {
    "graphql": true,
    "document": false
  },
  "settings": {
    "import/core-modules": ["components", "types"]
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": ["off"]
  }
}
