{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "globals": {
    "graphql": true,
    "document": false
  },
  "settings": {
    "import/core-modules": ["components", "types"]
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": ["off"],
    "@typescript-eslint/no-unused-vars": "warn",
    "react/jsx-uses-vars": "error",
    "@typescript-eslint/explicit-function-return-type": ["off"]
  }
}
