@import '../components/vars';

.postDate {
  font-size: 0.875rem;
}

// Can avoid this specificity hack once Bulma is removed.
.postTitle.postTitle.postTitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $medium-pink;
}

.postDescription {
  font-size: 0.875rem;
  margin-bottom: 2rem;

  &:before {
    content: '→';
    color: $dark-purple;
    margin-right: 0.5rem;
  }
}

.tagContainer {
  margin-top: 4rem;

  .tagList {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin: 0;
      padding: 0;

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}
