@import '../components/vars';

.notFoundBackground {
  @media screen and (min-width: 813px) {
    & {
      background-size: calc(100vw * 0.3);
      background-position-x: center;
      background-position-y: center;
      background-image: url(/img/undraw_empty_xct9.svg);
    }
  }
}
