@import '../components/vars';

.postDate {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.mainBackground {
  @media screen and (min-width: 813px) {
    & {
      background-image: url(/img/undraw_post_online_dkuk.svg);
      padding-bottom: calc(100vw * 0.25);
    }
  }
}
