@import './vars';

@mixin dope-link-style(
  $textColor: $dark-purple,
  $firstGradientColor: $main-bg-color,
  $secondGradientColor: $accent-color
) {
  position: relative;
  color: $textColor;
  text-decoration: none;

  &:hover {
    color: $textColor;
    font-weight: $font-weight-bold;
  }

  &:after {
    content: '';
    height: 0.125rem;
    background: linear-gradient(
      to right,
      $firstGradientColor,
      $secondGradientColor
    );
    width: 100%;
    position: absolute;
    bottom: -0.1875rem;
    left: 0;
    border-radius: 0.0625rem;
    min-width: 2rem;
  }
}

@mixin dope-list($emoji) {
  list-style: none;
  margin: 0.5rem;

  li:before {
    content: $emoji;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
}
