$dark-purple: #403a58;
$off-white: #fdfdfd;
$lighter-purple: #d2cffd;
$light-purple: #6159ff;
$medium-purple: #5750e6;
$navbar-height: 3.25rem;
$aqua: #6bbaa7;
$brown-accent: #c9696e;
$secondary-color: rgba(51, 51, 51, 0.6);
$main-bg-color: #e9e9f1;
$accent-color: #ff8c00;
$font-weight-light-bold: 400;
$font-weight-bold: 600;
$font-weight-heavy-bold: 700;

@mixin dope-link-style(
  $textColor: $dark-purple,
  $firstGradientColor: $main-bg-color,
  $secondGradientColor: $accent-color
) {
  a {
    position: relative;
    color: $textColor;
    text-decoration: none;

    &:hover {
      color: $textColor;
      font-weight: $font-weight-bold;
    }

    &:after {
      content: '';
      height: 0.125rem;
      background: linear-gradient(
        to right,
        $firstGradientColor,
        $secondGradientColor
      );
      width: 100%;
      position: absolute;
      bottom: -0.1875rem;
      left: 0;
      border-radius: 0.0625rem;
    }
  }
}
