$coding-font: 'dm', Helvetica, Arial, Verdana, Tahoma, sans-serif;

$off-white: #fdfdfd;
$lighter-purple: #d2cffd;
$light-purple: #6159ff;
$medium-purple: #5750e6;
$dark-purple: #403a58;
$main-bg-color: #e9e9f1;
$accent-color: #ff8c00;

// font-weights
$font-weight-light-bold: 400;
$font-weight-bold: 600;
$font-weight-heavy-bold: 700;

$navbar-height: 3.25rem;
