$dark-purple: #403a58;
$off-white: #fdfdfd;
$medium-pink: #f76265;
$lighter-purple: #d2cffd;
$light-purple: #6159ff;
$medium-purple: #5750e6;
$navbar-height: 3.25rem;
$aqua: #6bbaa7;
$main-heading-colour: $medium-pink;
$brown-accent: #c9696e;
$secondary-colour: rgba(51, 51, 51, 0.6);
$main-bg-colour: #e9e9f1;
