$dark-purple: #403a58
$off-white: #fdfdfd
$medium-pink: #f76265
$lighter-purple: #d2cffd
$light-purple: #6159ff
$medium-purple: #5750e6
$navbar-height: 3.25rem
@import "~bulma"

html, body
  color: $dark-purple
  background-color: $off-white

.container
  a
    color: $dark-purple
    text-decoration: underline

    &:hover
      color: $medium-pink
      text-decoration: none

  .taglist__tag
    border-radius: 0.75rem
    padding: 0.5rem
    color: $dark-purple
    font-weight: bold
    background-color: $off-white
    border: 0.125rem solid $dark-purple
    text-decoration: none

    &:hover
      color: $off-white
      background-color: $dark-purple
      border-color: $dark-purple

  .blog-post-description
    color: rgba(51, 51, 51, 0.5)

.navbar
  position: sticky
  top: 0
  background: linear-gradient(45deg, $dark-purple 80%, $lighter-purple 0%)
  height: $navbar-height
  max-height: $navbar-height

  .logo__emoji
    margin-right: 0.6rem

  a
    color: $off-white
    text-decoration: none
    font-weight: bold

    &:hover
      color: $medium-pink

@media screen and (max-width: 1087px)
  .navbar-burger
    color: $dark-purple

  .navbar-menu.is-active
    position: absolute
    z-index: 1
    width: 100%

    a
      color: $dark-purple

      &:hover
        color: $medium-pink

    .icon
      width: inherit
      mask: none
      background: none;

      &:hover
        background: none;

      &:before
        content: attr(data-name)



.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center

  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.content.content--front-page
  margin-bottom: 5rem
  border-radius: 0.5rem
  background-color: rgba($off-white, 0.8)
  padding: 0.625rem

  &:last-child
    margin-bottom: 0

  .blog-title
    color: $medium-pink
    font-weight: bold
    text-decoration: none

@media screen and (max-width: 1087px)
  .content.content--front-page
    margin-bottom: 2rem

.section
  padding-top: 5rem

.button
  border: 0.0625rem solid rgba(51, 51, 51, 0.1)
  border-radius: 2rem

.content--front-page .button--read-more
  margin-top: 0.5rem
  font-size: 0.75
  color: $dark-purple
  border: 0.0625rem solid $dark-purple
  background-color: rgba(87, 80, 230, 0.1)
  text-decoration: none

  &:hover
    background-color: $dark-purple
    color: $off-white

h1, h2, h3
  font-family: "Montserrat"

.content // won't need this once bulma is out
  small // won't need this once bulma is out
    color: $dark-purple

  h1
    font-weight: 700
    font-size: 2rem

  h2
    font-weight: 550
    font-size: 1.5rem

  h3
    font-weight: 400
    font-size: 1.25rem

// Will clean this up to just body once I've pulled out bulma
body, button, input, select, textarea
  font-family: "Source Sans Pro"

@media screen and (min-width: 813px)
  .section
    background-size: calc(100vw * 0.35)
    background-position-x: center
    background-position-y: center
    background-repeat: no-repeat
    background-attachment: fixed
    background-color: transparent
    min-height: calc(100vh - #{$navbar-height})

  .section.section--about-me
    background-image: url(/img/undraw_about_me_wa29.svg)

  .section.section--contact
    background-image: url(/img/undraw_contact_us_15o2.svg)

  .section--thanks
      background-image: url(/img/undraw_having_fun_iais.svg)

      ul
        margin: 0

        li
          list-style: none

          &:before
            content: '→'
            color: $medium-pink
            margin-right: 0.5rem

  .section.section--blog-posts
    background-size: calc(100vw * 0.25)
    background-position-x: calc(100% - 2rem)
    background-position-y: calc(100% - 2rem)
    background-image: url(/img/undraw_typewriter_i8xd.svg)
    padding-bottom: calc(100vw * 0.25)

  .section.section--not-found
    background-image: url(/img/undraw_blank_canvas_3rbb.svg)

@media screen and (max-width: 1024px)
  .section
    padding-top: 2rem
    background-size: 20rem
    background-position-x: center

@media screen and (min-width: 1025px)
  .content.content--front-page
    max-width: 80rem

  .blog-post-description:before
    content: '→'
    color: $medium-pink
    margin-right: 0.5rem

@media screen and (min-device-width: 1200px)

  .content--front-page .button--read-more
    opacity: 0
    transition: opacity 0.8s
    pointer-events: none

  .content--front-page:hover .button--read-more
      opacity: 1
      transition: opacity 0.8s
      pointer-events: auto

.icon
  width: 1.25rem
  height: 1.25rem
  background-size: 1.25rem
  background-position-x: center
  background-position-y: center
  background-repeat: no-repeat
  background-color: rgba($off-white, 0.3)

  &:hover
    background-color: $off-white

.icon--twitter
  mask: url(/img/twitter.svg)

.icon--github
  mask: url(/img/github.svg)

.icon--linkedin
  mask: url(/img/linkedin.svg)

.icon--devto
  mask: url(/img/dev-dot-to.svg)

.icon--stackoverflow
  mask: url(/img/stackoverflow.svg)

.icon--mastodon
  mask: url(/img/mastodon.svg)
