@import './vars';
@import './mixins';
@import '~bulma';

html,
body {
    color: $dark-purple;
    background-color: $main-bg-color;
}

h1,
h2,
h3 {
    font-family: Oswald, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

// Will clean this up to just body once I've pulled out bulma
body,
button,
input,
select,
textarea {
    font-family: 'Droid Sans', Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    background: $dark-purple;
    height: $navbar-height;
    max-height: $navbar-height;

    .logo__emoji {
        margin-right: 0.6rem;
    }
}

.navbar-item.navbar-item {
    color: $off-white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $accent-color;
    }
}

.content .taglist {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

    li {
        padding: 0 2rem 1rem 0;
        margin-bottom: 1.5rem;
        margin-top: 0;
    }
}

.content {
    // won't need this once bulma is out
    max-width: 70%;

    h3 {
        font-weight: $font-weight-light-bold;
        font-size: 1.25rem;
    }

    a {
        color: $dark-purple;
        text-decoration: underline;

        &:hover {
            color: $accent-color;
            text-decoration: none;
        }
    }

    @media screen and (max-width: 1023px) {
        & {
            max-width: none;
        }
    }
}

@media screen and (max-width: 1023px) {
    .navbar-item.navbar-item:not(.logo) {
        color: $dark-purple;

        &:hover {
            color: $accent-color;
        }
    }
}

@media screen and (min-width: 1920px) {
    :root {
        font-size: 1.25rem;
    }
}
