@import './vars'
@import "~bulma"

html, body
  color: $dark-purple
  background-color: $main-bg-colour

.container
  overflow-wrap: break-word

  a
    color: $dark-purple
    text-decoration: underline

    &:hover
      color: $medium-pink
      text-decoration: none

  pre
    overflow: scroll
    min-height: 3rem

.navbar
  position: sticky
  top: 0
  background: linear-gradient(45deg, $dark-purple 80%, $lighter-purple 0%)
  height: $navbar-height
  max-height: $navbar-height

  .logo__emoji
    margin-right: 0.6rem

  a
    color: $off-white
    text-decoration: none
    font-weight: bold

    &:hover
      color: $medium-pink

@media screen and (max-width: 1087px)
  .navbar-burger
    color: $dark-purple

  .navbar-menu.is-active
    position: absolute
    z-index: 1
    width: 100%

    a
      color: $dark-purple

      &:hover
        color: $medium-pink

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center

  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.content
  & > *:not(:first-child)
    max-width: 35rem

  pre
    overflow: scroll

.content.content.content--front-page
  margin-bottom: 5rem
  border-radius: 0.5rem
  padding: 0.625rem
  background-color: rgba($main-bg-colour, 0.8);

  &:last-child
    margin-bottom: 0

@media screen and (max-width: 1087px)
  .content.content--front-page
    margin-bottom: 2rem

.section
  padding-top: 5rem

  & > *:not(:first-child)
    max-width: 35em

h1, h2, h3
  font-family: "Oswald"

.content // won't need this once bulma is out
  h3
    font-weight: 400
    font-size: 1.25rem

// Will clean this up to just body once I've pulled out bulma
body, button, input, select, textarea
  font-family: "Droid Sans"

@media screen and (min-width: 813px)
  .section
    background-size: calc(100vw * 0.25)
    background-position-x: calc(100% - 2rem)
    background-position-y: calc(100% - 2rem)
    background-repeat: no-repeat
    background-attachment: fixed
    background-color: transparent
    min-height: calc(100vh - #{$navbar-height})

  .section.section--about-me
    background-image: url(/img/undraw_uploading_go67.svg)

  .section.section--contact
    background-image: url(/img/undraw_video_call_kxyp.svg)

  .section--thanks
      background-size: calc(100vw * 0.3)
      background-position-x: center
      background-position-y: center
      background-image: url(/img/undraw_having_fun_iais.svg)

      ul
        margin: 0

        li
          list-style: none

          &:before
            content: '→'
            color: $medium-pink
            margin-right: 0.5rem

  .section.section--blog-posts
    background-image: url(/img/undraw_post_online_dkuk.svg)
    padding-bottom: calc(100vw * 0.25)

  .section.section--not-found
    background-size: calc(100vw * 0.3)
    background-position-x: center
    background-position-y: center
    background-image: url(/img/undraw_empty_xct9.svg)

@media screen and (max-width: 1024px)
  .section
    padding-top: 2rem
    background-size: 20rem
    background-position-x: center

@media screen and (min-width: 1025px)
  .content.content--front-page
    max-width: 80rem

@media screen and (min-device-width: 1200px)

  .content--front-page .button--read-more
    opacity: 0
    transition: opacity 0.8s
    pointer-events: none

  .content--front-page:hover .button--read-more
      opacity: 1
      transition: opacity 0.8s
      pointer-events: auto