@import './vars';

.tag {
  position: relative;
  color: $dark-purple;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $dark-purple;
  }

  & + & {
    margin-right: 0.25rem;
  }

  &:before {
    content: attr(data-count);
    position: absolute;
    font-size: 0.6rem;
    color: rgba($dark-purple, 0.55);
    right: -0.65rem;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0.5rem;
    margin-left: 0.125rem;
    color: $dark-purple;
    width: 1.5rem;
    height: 1.5rem;
    background-position-x: center;
    background-position-y: center;
    background-color: $dark-purple;
    mask: url(/img/blog-tag.svg);
  }

  &:hover:after {
    background-color: $accent-color;
  }
}
