@import './vars';

// Thanks for the styles https://raphaelfabeni.com/ui-interactions !

.burger {
    margin-left: auto;
    margin-right: 0.75rem;
    width: 1.875rem;
    height: 1.625rem;
    border: none;
    position: relative;
    background: linear-gradient(to bottom, $lighter-purple, $lighter-purple);
    background-size: 100% 20%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.2s 0.25s ease;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
        & {
            pointer-events: none;
            display: none;
        }
    }

    &:before,
    &:after {
        height: 20%;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: $lighter-purple;
        content: '';
        transition: transform 0.3s ease;
    }

    &:before {
        top: 0;
        transform-origin: 91% 150%;
    }

    &:after {
        bottom: 0;
        transform-origin: 91% -50%;
    }

    &.isActive {
        background-size: 0 20%;
        transition-delay: 0s;
    }

    &.isActive:before {
        transform: rotate(-45deg);
        transition-delay: 0.15s;
    }

    &.isActive:after {
        transform: rotate(45deg);
        transition-delay: 0.15s;
    }
}
