@import './vars';

.navbar {
    border-bottom: 0.125rem solid rgba($dark-purple, 0.3);
}

.navbarContents {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;

    @media screen and (max-width: 1023px) {
        & {
            display: block;
        }
    }
}

.navbarBrand {
    display: flex;
    align-items: center;
}

.emojiBox {
    position: relative;
}

.nerd {
    position: relative;
    transition: opacity 0.35s ease-in;
    left: 1.35rem;
}

.nerd.scrolling {
    opacity: 0;
}

.fire {
    transition: opacity 0.25s ease-in;
    opacity: 0;

    &.scrolling {
        opacity: 1;
    }
}
