@import './vars';

.navbar {
    box-shadow: inset 0 0.0625rem 0 rgba($dark-purple, 0.3),
        0 0.125rem 0.1875rem hsla(0, 0%, 0%, 0.2);
}

.navbarContents {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;

    @media screen and (max-width: 1023px) {
        & {
            display: block;
        }
    }
}
