@import './vars';

.icon {
    mask: none;
    background: none;

    &:hover {
        background: none;
        background-color: $off-white;
    }

    @media screen and (max-width: 1023px) {
        &:before {
            content: attr(data-name);
        }
    }
}

@media screen and (min-width: 1024px) {
    .icon {
        width: 1.25rem;
        height: 1.25rem;
        background-size: 1.25rem;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-color: rgba($off-white, 0.3);
    }

    .twitter {
        mask: url(/img/twitter.svg);
    }

    .instagram {
        mask: url(/img/instagram.svg);
    }

    .github {
        mask: url(/img/github.svg);
    }

    .linkedin {
        mask: url(/img/linkedin.svg);
    }

    .devto {
        width: 1.09375rem;
        mask: url(/img/dev-dot-to.svg);
    }

    .stackoverflow {
        mask: url(/img/stackoverflow.svg);
    }
}
